/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.header__left h1 {
    margin: 0;
    font-size: 24px;
}

.header__left h1 span {
    color: red;
}

.header__right {
    display: flex;
}

.header__right a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

/* Hover effects */
.header__right a:hover,
.menu-icon:hover {
    color: red;
}

@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: stretch;
    }

    .header__left, .header__right {
        text-align: center;
    }

    .header__right {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 20px; /* Add margin-top for better spacing */
    }

    .menu-icon {
        display: block;
    }

    .header__right.active {
        display: flex;
    }
}
